# Task 4.8 Grouping data and Aggregating Values

This script contains the following points:

    01. Improting Libraries
    02. Importing CSV/PKL files
    03. Task 4.8 questions and answers
    04. Exporting to pickle format

## 01. Importing libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

## 02. Importing CSV/PKL files

In [2]:
# Identifying pathway for import for ease with multiple imports
path = r'C:\Users\simpe\Instacart Basket Analysis'

In [3]:
# Importing order_products_merged.pkl
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merged_4.7.pkl'))

## 03. Task 4.8 Questions and Answers

In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.

In [4]:
# Checking the shape
ords_prods_merge.shape

(32404859, 20)

In [5]:
# Looking at the head of the dataframe
ords_prods_merge.head(10)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,prior,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average Orders
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both,14084,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,Mid-range product,Regularly busy,Regularly busy,Average Orders
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both,12427,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Regularly busy,Average Orders
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both,26089,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Regularly busy,Regularly busy,Average Orders
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both,26406,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,Low-range product,Regularly busy,Regularly busy,Average Orders
5,2398795,1,prior,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average Orders
6,2398795,1,prior,2,3,7,15.0,10258,2,0,both,10258,Pistachios,117,19,3.0,Low-range product,Regularly busy,Slowest days,Average Orders
7,2398795,1,prior,2,3,7,15.0,12427,3,1,both,12427,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Slowest days,Average Orders
8,2398795,1,prior,2,3,7,15.0,13176,4,0,both,13176,Bag of Organic Bananas,24,4,10.3,Mid-range product,Regularly busy,Slowest days,Average Orders
9,2398795,1,prior,2,3,7,15.0,26088,5,1,both,26089,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Regularly busy,Slowest days,Average Orders

In [6]:
# split data into groups based on department_id then apply agg function to obtain the mean values for the order number column
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

### Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code.

The first thing I notice is that all of the department IDs now show up, versus those that were in the subset only. The department with the highest mean is 21 and department 5 has the lowest mean. In general, all of the department ID means that were in the subset get lower when all of the data was included.This tells us that the subset was not a good prediction of the data set as a whole. A more random approach to selection would have to be done if a subset was trying to be representative of the whole.

### Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

In [7]:
# creating the “max_order” column
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\simpe\AppData\Local\Temp\ipykernel_3492\2117947232.py:2: FutureWarning: The provided callable <function max at 0x000002B9DF4554E0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [8]:
# Checking work
ords_prods_merge.head(15)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,Unnamed: 0,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average Orders,10
1,2539329,1,prior,1,2,8,NaN,14084,2,0,...,14084,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,Mid-range product,Regularly busy,Regularly busy,Average Orders,10
2,2539329,1,prior,1,2,8,NaN,12427,3,0,...,12427,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Regularly busy,Average Orders,10
3,2539329,1,prior,1,2,8,NaN,26088,4,0,...,26089,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Regularly busy,Regularly busy,Average Orders,10
4,2539329,1,prior,1,2,8,NaN,26405,5,0,...,26406,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,Low-range product,Regularly busy,Regularly busy,Average Orders,10
5,2398795,1,prior,2,3,7,15.0,196,1,1,...,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average Orders,10
6,2398795,1,prior,2,3,7,15.0,10258,2,0,...,10258,Pistachios,117,19,3.0,Low-range product,Regularly busy,Slowest days,Average Orders,10
7,2398795,1,prior,2,3,7,15.0,12427,3,1,...,12427,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Slowest days,Average Orders,10
8,2398795,1,prior,2,3,7,15.0,13176,4,0,...,13176,Bag of Organic Bananas,24,4,10.3,Mid-range product,Regularly busy,Slowest days,Average Orders,10
9,2398795,1,prior,2,3,7,15.0,26088,5,1,...,26089,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Regularly busy,Slowest days,Average Orders,10
10,2398795,1,prior,2,3,7,15.0,13032,6,0,...,13032,Cinnamon Toast Crunch,121,14,4.0,Low-range product,Regularly busy,Slowest days,Average Orders,10
11,473747,1,prior,3,3,12,21.0,196,1,1,...,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Most Orders,10
12,473747,1,prior,3,3,12,21.0,12427,2,1,...,12427,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Slowest days,Most Orders,10
13,473747,1,prior,3,3,12,21.0,10258,3,1,...,10258,Pistachios,117,19,3.0,Low-range product,Regularly busy,Slowest days,Most Orders,10
14,473747,1,prior,3,3,12,21.0,25133,4,0,...,25134,Organic String Cheese,21,16,8.6,Mid-range product,Regularly busy,Slowest days,Most Orders,10

In [9]:
# using loc function to assign loyalty flag 
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [10]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [11]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [12]:
# Checking work
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [13]:
# Checking specific columns
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             1
2         1      New customer             1
3         1      New customer             1
4         1      New customer             1
5         1      New customer             2
6         1      New customer             2
7         1      New customer             2
8         1      New customer             2
9         1      New customer             2
10        1      New customer             2
11        1      New customer             3
12        1      New customer             3
13        1      New customer             3
14        1      New customer             3
15        1      New customer             3
16        1      New customer             4
17        1      New customer             4
18        1      New customer             4
19        1      New customer             4
20        1      New customer             4
21        1      New customer             5
22        1      New customer             5
23        1      New customer             5
24        1      New customer             5
25        1      New customer             5
26        1      New customer             5
27        1      New customer             5
28        1      New customer             5
29        1      New customer             6
30        1      New customer             6
31        1      New customer             6
32        1      New customer             6
33        1      New customer             7
34        1      New customer             7
35        1      New customer             7
36        1      New customer             7
37        1      New customer             7
38        1      New customer             8
39        1      New customer             8
40        1      New customer             8
41        1      New customer             8
42        1      New customer             8
43        1      New customer             8
44        1      New customer             9
45        1      New customer             9
46        1      New customer             9
47        1      New customer             9
48        1      New customer             9
49        1      New customer             9
50        1      New customer            10
51        1      New customer            10
52        1      New customer            10
53        1      New customer            10
54        1      New customer            10
55        1      New customer            10
56        1      New customer            10
57        1      New customer            10
58        1      New customer            10
59        2  Regular customer             1

### The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [14]:
# Showing the mean, min, and max
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

I see that there is something messed up in the data set certainly for the max price for items. It is very unlikely that there is an item that costs almost 10k. New customers on average buy higher cost items. The loyal customer most likely on average buy less expensive items because they do more of their shopping as a whole there and thus would have a wide range of costs and items. These are all just educated guesses and would be a good starting place for an analysis if you were trying to dive deeper.

### The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:

    If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
    If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [15]:
# creating the “Mean_prices” column
ords_prods_merge['Mean_prices'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\simpe\AppData\Local\Temp\ipykernel_3492\3291745491.py:2: FutureWarning: The provided callable <function mean at 0x000002B9DF455EE0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['Mean_prices'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [16]:
# Checking work
ords_prods_merge.head(15)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,Mean_prices
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797
1,2539329,1,prior,1,2,8,NaN,14084,2,0,...,91,16,12.5,Mid-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797
2,2539329,1,prior,1,2,8,NaN,12427,3,0,...,23,19,4.4,Low-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797
3,2539329,1,prior,1,2,8,NaN,26088,4,0,...,23,19,4.7,Low-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797
4,2539329,1,prior,1,2,8,NaN,26405,5,0,...,54,17,1.0,Low-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797
5,2398795,1,prior,2,3,7,15.0,196,1,1,...,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average Orders,10,New customer,6.367797
6,2398795,1,prior,2,3,7,15.0,10258,2,0,...,117,19,3.0,Low-range product,Regularly busy,Slowest days,Average Orders,10,New customer,6.367797
7,2398795,1,prior,2,3,7,15.0,12427,3,1,...,23,19,4.4,Low-range product,Regularly busy,Slowest days,Average Orders,10,New customer,6.367797
8,2398795,1,prior,2,3,7,15.0,13176,4,0,...,24,4,10.3,Mid-range product,Regularly busy,Slowest days,Average Orders,10,New customer,6.367797
9,2398795,1,prior,2,3,7,15.0,26088,5,1,...,23,19,4.7,Low-range product,Regularly busy,Slowest days,Average Orders,10,New customer,6.367797
10,2398795,1,prior,2,3,7,15.0,13032,6,0,...,121,14,4.0,Low-range product,Regularly busy,Slowest days,Average Orders,10,New customer,6.367797
11,473747,1,prior,3,3,12,21.0,196,1,1,...,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Most Orders,10,New customer,6.367797
12,473747,1,prior,3,3,12,21.0,12427,2,1,...,23,19,4.4,Low-range product,Regularly busy,Slowest days,Most Orders,10,New customer,6.367797
13,473747,1,prior,3,3,12,21.0,10258,3,1,...,117,19,3.0,Low-range product,Regularly busy,Slowest days,Most Orders,10,New customer,6.367797
14,473747,1,prior,3,3,12,21.0,25133,4,0,...,21,16,8.6,Mid-range product,Regularly busy,Slowest days,Most Orders,10,New customer,6.367797

In [17]:
# using loc function to assign high spender/low spender status  
ords_prods_merge.loc[ords_prods_merge['Mean_prices'] >= 10, 'Spender_type'] = 'High_spender'

In [18]:
# using loc function to assign high spender/low spender status  
ords_prods_merge.loc[ords_prods_merge['Mean_prices'] < 10, 'Spender_type'] = 'Low_spender'

In [19]:
# Checking specific columns
ords_prods_merge[['user_id', 'Mean_prices', 'Spender_type']].head(60)

    user_id  Mean_prices Spender_type
0         1     6.367797  Low_spender
1         1     6.367797  Low_spender
2         1     6.367797  Low_spender
3         1     6.367797  Low_spender
4         1     6.367797  Low_spender
5         1     6.367797  Low_spender
6         1     6.367797  Low_spender
7         1     6.367797  Low_spender
8         1     6.367797  Low_spender
9         1     6.367797  Low_spender
10        1     6.367797  Low_spender
11        1     6.367797  Low_spender
12        1     6.367797  Low_spender
13        1     6.367797  Low_spender
14        1     6.367797  Low_spender
15        1     6.367797  Low_spender
16        1     6.367797  Low_spender
17        1     6.367797  Low_spender
18        1     6.367797  Low_spender
19        1     6.367797  Low_spender
20        1     6.367797  Low_spender
21        1     6.367797  Low_spender
22        1     6.367797  Low_spender
23        1     6.367797  Low_spender
24        1     6.367797  Low_spender
25        1     6.367797  Low_spender
26        1     6.367797  Low_spender
27        1     6.367797  Low_spender
28        1     6.367797  Low_spender
29        1     6.367797  Low_spender
30        1     6.367797  Low_spender
31        1     6.367797  Low_spender
32        1     6.367797  Low_spender
33        1     6.367797  Low_spender
34        1     6.367797  Low_spender
35        1     6.367797  Low_spender
36        1     6.367797  Low_spender
37        1     6.367797  Low_spender
38        1     6.367797  Low_spender
39        1     6.367797  Low_spender
40        1     6.367797  Low_spender
41        1     6.367797  Low_spender
42        1     6.367797  Low_spender
43        1     6.367797  Low_spender
44        1     6.367797  Low_spender
45        1     6.367797  Low_spender
46        1     6.367797  Low_spender
47        1     6.367797  Low_spender
48        1     6.367797  Low_spender
49        1     6.367797  Low_spender
50        1     6.367797  Low_spender
51        1     6.367797  Low_spender
52        1     6.367797  Low_spender
53        1     6.367797  Low_spender
54        1     6.367797  Low_spender
55        1     6.367797  Low_spender
56        1     6.367797  Low_spender
57        1     6.367797  Low_spender
58        1     6.367797  Low_spender
59        2     7.515897  Low_spender

### In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:

    If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
    If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
    If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [20]:
# creating the “Median_days_since_prior_order” column
ords_prods_merge['Median_days_since_prior_order'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

C:\Users\simpe\AppData\Local\Temp\ipykernel_3492\3390416876.py:2: FutureWarning: The provided callable <function median at 0x000002B9DF655DA0> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merge['Median_days_since_prior_order'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [21]:
# Checking work
ords_prods_merge.head(15)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,Mean_prices,Spender_type,Median_days_since_prior_order
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,9.0,Mid-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797,Low_spender,20.5
1,2539329,1,prior,1,2,8,NaN,14084,2,0,...,12.5,Mid-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797,Low_spender,20.5
2,2539329,1,prior,1,2,8,NaN,12427,3,0,...,4.4,Low-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797,Low_spender,20.5
3,2539329,1,prior,1,2,8,NaN,26088,4,0,...,4.7,Low-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797,Low_spender,20.5
4,2539329,1,prior,1,2,8,NaN,26405,5,0,...,1.0,Low-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797,Low_spender,20.5
5,2398795,1,prior,2,3,7,15.0,196,1,1,...,9.0,Mid-range product,Regularly busy,Slowest days,Average Orders,10,New customer,6.367797,Low_spender,20.5
6,2398795,1,prior,2,3,7,15.0,10258,2,0,...,3.0,Low-range product,Regularly busy,Slowest days,Average Orders,10,New customer,6.367797,Low_spender,20.5
7,2398795,1,prior,2,3,7,15.0,12427,3,1,...,4.4,Low-range product,Regularly busy,Slowest days,Average Orders,10,New customer,6.367797,Low_spender,20.5
8,2398795,1,prior,2,3,7,15.0,13176,4,0,...,10.3,Mid-range product,Regularly busy,Slowest days,Average Orders,10,New customer,6.367797,Low_spender,20.5
9,2398795,1,prior,2,3,7,15.0,26088,5,1,...,4.7,Low-range product,Regularly busy,Slowest days,Average Orders,10,New customer,6.367797,Low_spender,20.5
10,2398795,1,prior,2,3,7,15.0,13032,6,0,...,4.0,Low-range product,Regularly busy,Slowest days,Average Orders,10,New customer,6.367797,Low_spender,20.5
11,473747,1,prior,3,3,12,21.0,196,1,1,...,9.0,Mid-range product,Regularly busy,Slowest days,Most Orders,10,New customer,6.367797,Low_spender,20.5
12,473747,1,prior,3,3,12,21.0,12427,2,1,...,4.4,Low-range product,Regularly busy,Slowest days,Most Orders,10,New customer,6.367797,Low_spender,20.5
13,473747,1,prior,3,3,12,21.0,10258,3,1,...,3.0,Low-range product,Regularly busy,Slowest days,Most Orders,10,New customer,6.367797,Low_spender,20.5
14,473747,1,prior,3,3,12,21.0,25133,4,0,...,8.6,Mid-range product,Regularly busy,Slowest days,Most Orders,10,New customer,6.367797,Low_spender,20.5

In [22]:
# using loc function to assign customer frequency designation 
ords_prods_merge.loc[ords_prods_merge['Median_days_since_prior_order'] > 20, 'Customer_frequency'] = 'Non_frequent_customer'

In [23]:
# using loc function to assign customer frequency designation 
ords_prods_merge.loc[(ords_prods_merge['Median_days_since_prior_order'] > 10)& (ords_prods_merge['Median_days_since_prior_order'] <= 20), 'Customer_frequency'] = 'Regular_customer'

In [24]:
# using loc function to assign customer frequency designation 
ords_prods_merge.loc[ords_prods_merge['Median_days_since_prior_order'] <= 10, 'Customer_frequency'] = 'Frequent_customer'

In [25]:
# Checking specific columns
ords_prods_merge[['user_id', 'Median_days_since_prior_order', 'Customer_frequency']].head(60)

    user_id  Median_days_since_prior_order     Customer_frequency
0         1                           20.5  Non_frequent_customer
1         1                           20.5  Non_frequent_customer
2         1                           20.5  Non_frequent_customer
3         1                           20.5  Non_frequent_customer
4         1                           20.5  Non_frequent_customer
5         1                           20.5  Non_frequent_customer
6         1                           20.5  Non_frequent_customer
7         1                           20.5  Non_frequent_customer
8         1                           20.5  Non_frequent_customer
9         1                           20.5  Non_frequent_customer
10        1                           20.5  Non_frequent_customer
11        1                           20.5  Non_frequent_customer
12        1                           20.5  Non_frequent_customer
13        1                           20.5  Non_frequent_customer
14        1                           20.5  Non_frequent_customer
15        1                           20.5  Non_frequent_customer
16        1                           20.5  Non_frequent_customer
17        1                           20.5  Non_frequent_customer
18        1                           20.5  Non_frequent_customer
19        1                           20.5  Non_frequent_customer
20        1                           20.5  Non_frequent_customer
21        1                           20.5  Non_frequent_customer
22        1                           20.5  Non_frequent_customer
23        1                           20.5  Non_frequent_customer
24        1                           20.5  Non_frequent_customer
25        1                           20.5  Non_frequent_customer
26        1                           20.5  Non_frequent_customer
27        1                           20.5  Non_frequent_customer
28        1                           20.5  Non_frequent_customer
29        1                           20.5  Non_frequent_customer
30        1                           20.5  Non_frequent_customer
31        1                           20.5  Non_frequent_customer
32        1                           20.5  Non_frequent_customer
33        1                           20.5  Non_frequent_customer
34        1                           20.5  Non_frequent_customer
35        1                           20.5  Non_frequent_customer
36        1                           20.5  Non_frequent_customer
37        1                           20.5  Non_frequent_customer
38        1                           20.5  Non_frequent_customer
39        1                           20.5  Non_frequent_customer
40        1                           20.5  Non_frequent_customer
41        1                           20.5  Non_frequent_customer
42        1                           20.5  Non_frequent_customer
43        1                           20.5  Non_frequent_customer
44        1                           20.5  Non_frequent_customer
45        1                           20.5  Non_frequent_customer
46        1                           20.5  Non_frequent_customer
47        1                           20.5  Non_frequent_customer
48        1                           20.5  Non_frequent_customer
49        1                           20.5  Non_frequent_customer
50        1                           20.5  Non_frequent_customer
51        1                           20.5  Non_frequent_customer
52        1                           20.5  Non_frequent_customer
53        1                           20.5  Non_frequent_customer
54        1                           20.5  Non_frequent_customer
55        1                           20.5  Non_frequent_customer
56        1                           20.5  Non_frequent_customer
57        1                           20.5  Non_frequent_customer
58        1                           20.5  Non_frequent_customer
59        2                           13.0       Regular_customer

This appears to have worked as intended

## 04. Exporting to pickle format

In [26]:
# Export data to pkl

ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge_4.8.pkl'))